
# default build directory for VSCode
/build/

# used by clangd and other programs
.cache/

# created by pyenv
.python-version

# used for local development
Makefile

# Used by IDEs to get correct error messages
compile_commands.json

# quick test scripts in the main directory
/*.bolt
/*.c
